// Colors ///////////
$color-group-1a: #de0217;
$color-group-1b: #e19f9f;
$color-group-1c: #a13d3d;

$color-group-2a: #3a0c43;
$color-group-2b: #d689e5;
$color-group-2c: #f2dbf6;
$color-group-2d: #852099;

$color-group-3a: #d9d9d9;
$color-group-3b: #f8f8f8;
$color-group-3c: #9d9d9d;

$color-black: #000000;
$color-white: #ffffff;

// Transitions ///////////
$transitionDefault: all 0.5s;

// Add padding ///////////
$outlet-padding-top: 8rem;

// Box shadow ///////////
$boxShadowDefault: 0 6px 16px rgba(0, 0, 0, 0.1); /* Slightly deeper on hover */
